In [21]:
import pandas as pd

In [22]:
pd.__version__

'2.3.3'

In [23]:
dict_medidas = {'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [24]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [25]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [26]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas Resumo

### Medidas de posição

In [27]:
df_idade = df_medidas['idade']
df_altura = df_medidas['altura']

In [28]:
# Média
media_idade = df_idade.mean()
media_idade

np.float64(41.77777777777778)

In [ ]:
# Mediana
mediana_idade = df_idade.median()
mediana_idade

np.float64(40.0)

In [ ]:

# Moda
moda_idade = df_idade.mode()
moda_idade

0    25
Name: idade, dtype: int64

In [31]:
# Média
media_altura = df_altura.mean()
media_altura

np.float64(169.44444444444446)

In [32]:
mediana_altura = df_idade.median()
mediana_altura

np.float64(40.0)

In [33]:
moda_altura = df_idade.mode()
moda_altura

0    25
Name: idade, dtype: int64

### Medida de dispensão

In [ ]:
# Variancia

variancia_idade = df_idade.var()
variancia_idade

np.float64(509.94444444444446)

In [ ]:
# Devio Padrão
dp_idade = df_idade.std()
dp_idade

np.float64(22.58194952709895)

In [ ]:
# Coeficiencia de variação - Idade
cv = (dp_idade / media_idade) * 100
cv

np.float64(54.05253876167302)

In [ ]:
# Variancia - Altura
variancia_altura = df_altura.var()
variancia_altura

np.float64(34.77777777777778)

In [ ]:
# Devio Padrão - Altura
dp_altura = df_altura.std()
dp_altura

np.float64(5.897268670984711)

In [42]:
# Coeficiencia de variação - Altura
cv = (dp_altura / media_altura) * 100
cv

np.float64(3.4803552812368785)

### Medida de Forma

In [44]:
# Assimetria - Idade
assimetria_idade = df_idade.skew()
assimetria_idade

np.float64(0.368108517895537)

In [46]:
# Assimetria - Altura
assimetria_altura = df_altura.skew()
assimetria_altura

np.float64(-0.598486996170113)

In [47]:
# Custose - Idade
curtose_idade = df_idade.kurtosis()
curtose_idade

np.float64(-1.1344461075421046)

In [48]:
curtose_altura = df_altura.kurtosis()
curtose_altura

np.float64(-1.3372641199913002)

In [49]:
# Obter medidao estatíticas
df_altura.describe()

count      9.000000
mean     169.444444
std        5.897269
min      160.000000
25%      165.000000
50%      172.000000
75%      174.000000
max      176.000000
Name: altura, dtype: float64

In [51]:
df_idade.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: idade, dtype: float64

### Correlação de Variaveis

In [ ]:
# Correlação do DataFrame, segundo Pearson
df_medidas.corr(method='pearson')

           idade    altura
idade   1.000000  0.931024
altura  0.931024  1.000000

In [ ]:
# Correlação entre 2 variaveis
df_altura.corr(df_idade)

np.float64(0.931023604505434)

In [ ]:
# Correlação entre 2 variaveis
df_idade.corr(df_altura)

np.float64(0.9310236045054339)

In [57]:
# Correlação do DataFrame, segundo Spearman
df_medidas.corr(method='spearman')

           idade    altura
idade   1.000000  0.978803
altura  0.978803  1.000000